@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: Josefin Sans, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Light theme */
    --light-grey: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /* Dark theme */
    --Dark-Mode-Very-Dark-Blue: hsl(235, 21%, 11%);
    --Dark-Mode-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Dark-Mode-Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Dark-Mode-Light-Grayish-Blue : hsl(236, 33%, 92%);
    --Dark-Mode-Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Dark-Mode-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Dark-Mode-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%)
}

body {
    
    height: 100vh;
    /* background-color: blueviolet; */
}

/* light-mode */

.header-light-mode, .icon-light-mode,
.input-field, .status-bar, .todo-list ul,
.main, body {
    transition: all .3s;
}

.main {
    background-color: var(--light-grey);
}

.container {
    max-width: 540px;
    /* background-color: var(--light-grey); */
    margin: auto;
    position: relative;
    margin-top: -220px;
}

.content {
    width: 100%;
    z-index: 1000;
}

.app-title {
    display: flex;
} 

.app-title h1 {
    font-size: 1.8rem;
    color: white;
    margin: 0;
    padding: 0;
    flex: 2;
    letter-spacing: 1rem;
}

.image {
    padding-top: 5px;
    flex: none;
    cursor: pointer;
}

.add-todo {
    filter: drop-shadow(0 0 0.4rem black);
}

.input-field {
    background-color: white;
    width: 100%;
    height: 55px;
    display: flex;
    border-radius: 5px;
    margin-top: 50px;
}

.input-field input {
    padding-left: 20px;
    background-color: transparent;
    border: none;
    color: var(--Dark-Grayish-Blue);
    width: 85%;
    outline: none;
    color: var(--Very-Dark-Grayish-Blue);
}

::placeholder {
    color: var(--Dark-Grayish-Blue);
}

.input-field button {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 10px;
    background-color: var(--Light-Grayish-Blue);
    cursor: pointer;
    color: var(--Very-Dark-Grayish-Blue);
}

.input-field button:hover {
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Light-Grayish-Blue);
}

.status-bar {
    background-color: white;
    display: block;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.4rem black);
}

section {
    margin: 0;
}

.todo-list ul {
    width: 100%;
    display: block;
    max-height: 400px;
    overflow: auto;
    background-color: white;
    border-radius: 5px;
}

.todo-list ul li{
    background-color: transparent;
    border: none;
    color: var(--Dark-Grayish-Blue);
    width: 100%;
    height: 65px;
    outline: none;
    color: var(--Very-Dark-Grayish-Blue);
    list-style: none;
    padding-left: 20px;
    display: flex;
    border-radius: 5px;
}

.checked {
    color: var(--Light-Grayish-Blue);
    text-decoration-line: line-through;
}

.para {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 1rem;
    text-align: center;
}

.todo-list ul li p {
    padding-left: 20px;
    padding-top: 25px;
    font-size: 1rem;
    text-align: center;
}

.pass {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 1000;
    margin-top: 25px;
    margin-left: 3px;
    cursor: pointer;
    visibility: hidden;
}

.checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 23px;
    background-color: var(--light-grey);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox:checked {
    background-image: linear-gradient(120deg,#57ddff,#c058f3);
}

input[type=radio] {
    display: none;
}

#none:checked ~ nav label.none,
#active:checked ~ nav label.active,
#completed:checked ~ nav label.completed {
    color: blue;
}

nav label.none:hover {
    color: blue;
}

nav label.active:hover {
    color: blue;
}

nav label.completed:hover {
    color: blue;
}

.todo-list {
    display: none;
}

#none:checked ~ section .none {
    display: block;
}

#all:checked ~ section .all-to-do-items {
    display: block;
}

#active:checked ~ section .active-todo-items {
    display: block;
}

#completed:checked ~ section .completed-todo-items {
    display: block;
}

nav {
    display: flex;
    width: 100%;
    height: 55px;
}

nav p, nav .segment label, nav .btn {
    font-size: 0.85rem;
    color: var(--Dark-Grayish-Blue);
}

nav p, nav .segment {
    margin-top: 17px;
}

nav .segment label {
    cursor: pointer;
    margin-right: 15px;
}

nav p {
    margin-left: 20px;
    padding-top: 3px;
}

nav .segment {
    flex: 2;
    padding-left: 70px;
}

nav .btn {
    flex: 1;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

nav .btn:hover {
    color: blue;
}

/* dark-mode */


/* .input-field, .status-bar, .todo-list ul, .checkbox {
    background-color: var(--Dark-Mode-Very-Dark-Desaturated-Blue);
}

.checkbox, hr {
    border: 1px solid var(--Dark-Mode-Dark-Grayish-Blue);
}

.main {
    background-color: var(--Dark-Mode-Very-Dark-Blue);
}

.input-field button {
    background-color: var(--Dark-Mode-Very-Dark-Grayish-Blue);
}

nav .segment label, nav .btn, nav p, .input-field button,
.input-field input::placeholder {
    color: var(--Dark-Mode-Dark-Grayish-Blue);
}

.input-field input, .para {
    color: var(--Dark-Mode-Light-Grayish-Blue);
} */







/* .input-field-dark-mode, .status-bar-dark-mode,
.todo-list-dark-mode ul,
.main-dark-mode {
    background-color: var(--Dark-Mode-Very-Dark-Blue);
} */




